<footer class="footer">
    <div class="content has-text-centered">
        <p>
            <strong>Gossip Gobbler</strong> by <a href="https://home.cvidev.xyz">CM-IV</a>.
        </p>
    </div>
</footer>