@set('action', action.includes('?') ? `${action}&_method=DELETE` : `${action}?_method=DELETE`)

<form action="{{ action }}" method="POST">
    {{ csrfField() }}
    {{{ await $slots.main() }}}
</form>