<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Gossip Gobbler</title>
        <link rel="stylesheet" type="text/css" href="{{ asset('assets/app.css') }}">  
    </head>
    <body>
        @component('components/nav')
            @slot('links')
                @if(auth.user)
                    <a href="/" class="navbar-item">
                        Home
                    </a>
                    @if(auth.user?.isAdmin)
                        <a class="navbar-item" href="{{ route('users.manage') }}" aria-current="page">Manage Users</a>
                    @end
                    <a href="dashboard" class="navbar-item">
                        Dashboard
                    </a>
                    <a class="navbar-item" href="{{ route('auth.logout') }}">Logout</a>
                @else
                    <a href="/" class="navbar-item">Home</a>
                    <a href="/register" class="navbar-item">
                        Sign Up
                    </a>
                    <a href="/login" class="navbar-item">
                        Log in
                    </a>
                @end
            @end
        @end
        <div class="columns is-centered">
            <div class="column is-full">
                @!section('body')
                <div class="container mt-6">
                    @!component('components/footer')
                </div>
            </div>
        </div>
    </body>
</html>
